<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Bengkel Komputer</title>
</head>

<body>

    <div class="container mt-5">
        <h3>Data Customer</h3>
        <a href="/customer/add" class="btn btn-sm btn-primary">Tambah Data</a>
        <hr/>
        <table class="table table-sriped table-hover">
            <thead>
                <tr>
                    <th>Nama Lengkap</th>
                    <th>No.HP</th>
                    <th>Merk</th>
                    <th>Alamat</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{ range .customer }}
                    <tr>
                        <td>{{ .NamaLengkap }}</td>
                        <td>{{ .NomorHp }}</td>
                        <td>{{ .Merk }}</td>
                        <td>{{ .Alamat }}</td>
                        <td>
                            <a href="/customer/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/customer/delete?id={{.Id}}" onclick="return confirm('Aapakah anda yakin ingin menghapus data?')" class="btn btn-sm btn-danger">Hapus</a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

</body>

</html>